.htaccess
wp-config.php
wp-content/backup-db/*
wp-content/uploads/*
sitemap.xml
*.log
wp-content/cache/*
wp-content/backups/*
sitemap.xml.gz
index.php
licens-sv_SE.txt
license.txt
readme.html
wp-activate.php
wp-admin/*
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-content/index.php
wp-content/languages/*
wp-content/plugins/*
wp-content/themes/index.php
wp-content/themes/twentythirteen/*
wp-content/themes/twentytwelve/*
wp-cron.php
wp-includes/*
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
.gitignore.org
